.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
ForestLossData/
Figures/Katopasa_ElevationPlot.png
Figures/Katopasa_AccumulationPlot.png
Figures/KatopasaMap.xcf
Figures/KatopasaMap.png
Figures/KatopasaMap_adjusted.png
Figures/Figure 2 Photos.png
Figures/Katopasa_Photos
Katopasa_Manuscript_JAM.docx
Katopasa_Manuscript.docx
Table 1.docx
Table 2 -Observed and estimated squamate and amphibian species diversity within taxa and elevational bands.docx