.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
Figures/Katopasa_ElevationPlot.png
Figures/Katopasa_AccumulationPlot.png
Figures/KatopasaMap.xcf
Figures/KatopasaMap.png
Figures/KatopasaMap_adjusted.png